scripts/data/
scripts/slurm_logs/
scripts/smk_out/
scripts/slurm_scripts/
scripts/.snakemake/
scripts/20240212_HS_16_CH4_GM18772_10percent_subsampling.fastq
scripts/testdata
scripts/test
scripts/ref
scripts/snakemake/__pycache__
scripts/snakemake/__pycache__/utils.cpython-310.pyc
